* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.scoreboard {
  padding: 1rem;
  height: max-content;
  font-size: 1rem;
}

.scoreboard span {
  padding-left: 0.5rem;
  color: tomato;
}

.grid {
  width: 100vw;
  height: 100vh;
  max-height: 150vw;
  background-image: url(./background.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.doodler {
  width: 15%;
  height: 10%;
  background-image: url(./doodler-guy.png);
  background-size: 100% 100%;
  position: absolute;
}

.platform {
  width: 20%;
  height: 2.5%;
  background-image: url(./platform.png);
  background-size: 100% 100%;
  position: absolute;
}

.start {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  color: white;
  padding: 2rem;
  z-index: 1;
}

ul {
  border-top: tomato solid 2px;
  border-bottom: tomato solid 2px;
  padding-left: 2rem;
  font-size: 1rem;
}

ul li {
  margin: 0.5rem 0;
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem;
  border: solid tomato 2px;
  color: tomato;
  border-radius: 0.5rem;
  background: transparent;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

@media screen and (orientation: landscape) {
  .grid {
    height: 100vh;
    width: 100vh;
  }
}